{% extends 'base.html' %}
{% csrf_token %}
{% load static %}
{% block css_style %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}
{% block title %}
test hahaha
{% endblock %}
{% block content %}
<h1>hello django {{ name }}</h1>
<ul>
{% for item in object_list %}
<li>
{{ item }} -- {{ forloop.counter0 }} -- {{forloop.counter}} -- 
{{ forloop.revcounter }} -- {{ forloop.revcounter0 }}
{% if forloop.first %}
is first
{% elif forloop.last %}
is last
{% endif %}
</li>
{% empty %}
<li>is empty</li>
{% endfor %}
</ul>

<a href="{% url 'tasks-view' '1' %}"> return </p>
{% endblock %}

